*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: monospace;
}
body{
    position: relative;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
}
.sidebar{
    position: fixed;
    height: 100%;
    width: 24opx;
background-color: #008080;
top: 0%;
left: 0%;
padding: 6px 14px;
}
.sidebar .logo_content .logo{
color: whitesmoke;
display: flex;
height: 50px;
width: 100%;
align-items: center;
}
.logo_content .logo i{
    font-size: 28px;
    margin-right: 5px;
}
.logo_content .logo .logo_name{
    font-size: 20px;
    font-weight: 400;
}
.sidebar #btn{
    position: absolute;
    color: mintcream;
    left: 90%;
    top: 6px;
    font-size: 20px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    transform:translateX(-50%);
}
.sidebar ul{
    margin-top: 20px;
}
.sidebar ul li{
 width: 100%;
 height: 50px;   
 list-style: none;
 position: relative;
 margin: 0px 5px;
 line-height: 50px;
}
.sidebar ul li a{
color: whitesmoke;
display: flex;
align-items: center;
text-decoration: none;
}