/* MENU STYLES */
.menu-header {
    height: 70px;
    border-bottom: 1px solid #dee2e6;
  }
  
  .menu-header .h2 {
    font-size: 1.5rem;
  }
  
  @media (min-width: 576px) {
    .menu-header {
      height: 75px;
    }
  
    .menu-header .h2 {
      font-size: 2rem;
    }
  }
  .drawer {
    position: fixed;
    top: 0;
    left: 0;
    flex: 0 0 auto;
    background-color: #e9ecef;
    background-color: #fff;
    width: 240px;
    height: 100vh;
    transform: translateX(-105%);
    box-shadow: 6px 0 6px -3px #333;
    z-index: 90;
    overflow: auto;
  }
  
  .drawer .drawer-header {
    height: 70px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #dee2e6;
  }
  
  @media (min-width: 576px) {
    .drawer .drawer-header {
      height: 75px;
    }
  }
  .drawer .menu-container .menu-item {
    padding: 0.5rem 1rem;
    background-color: #fff;
    color: #20c997;
    color: #199d76;
    display: block;
    font-weight: 500;
    font-size: 1.125rem;
    cursor: pointer;
    text-decoration: none;
  }
  
  .drawer .menu-container .menu-item:hover {
    background-color: #e9ecef;
    color: #199d76;
  }
  
  .drawer .menu-container .menu-item:active,
  .drawer .menu-container .menu-item:focus,
  .drawer .menu-container .menu-item.active {
    background-color: #e9ecef;
    color: #127155;
  }
  
  .drawer .menu-container .divider {
    border-bottom: 1px solid #dee2e6;
  }
  
  .menu-button {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    transform: translate(15px, 15px);
    font-size: 1.45rem;
    background-color: #fff;
    background-color: #e9ecef;
    padding: 2px;
    border-radius: 50%;
    border-color: #ced4da;
    width: 42px;
    box-shadow: 0.15rem 0.25rem 0.35rem rgba(0, 0, 0, 0.25);
  }
  
  .menu-button:focus,
  .menu-button:active {
    box-shadow: 0.15rem 0.25rem 0.35rem rgba(0, 0, 0, 0.25);
  }
  
  @media (min-width: 576px) {
    .menu-button {
      font-size: 1.75rem;
      width: 50px;
    }
  }
  .content-veil {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: #333;
    opacity: 0;
    visibility: hidden;
    z-index: 85;
  }