.home_content{
    position: absolute;
    height: 100%;
    width: calc(100% - 74px);
    left: 74px;
    transition: 0.5s ease;
}
.home_content .text{
    font-size: 25px;
    font-weight: 500;
    color: darkcyan;
    margin: 12px;
}
.sidebar.active ~ .home_content{
    width: calc(100% - 240px);
    left: 240px;
}
*{padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
    background-color: #151320;
    height: 100vh;
    display: grid;
    place-items: center center;
}
.cards{
display: grid;
grid-template-columns: repeat(auto);
}
.card{

}
img{
    width: 100%;
}